.quotes_and_places_container{
    display: flex;
    flex-direction: column;
    
    
}
.quotes_container{
    border: rgb(188, 183, 183) 10px solid;
    border-left: none;
    border-right: none;
    display: flex;
    justify-content: space-evenly;
    height: 20vh;
    
}
.quotes_container blockquote{
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    font-size: 120%;
    font-weight: bold;
    font-style: italic;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}
.quotes_container blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }
.places_container{
    display: flex;
    margin-bottom: 3em;
    overflow-y: scroll;
    
}
.individualPlaces{
    border-right: 3px solid grey;
    display: flex;
    justify-content: space-between;
}
.places_info_container{
    display: flex;
    flex-direction: column;
    flex: 40%;
    padding-left: .5em;
    font-weight: 100;
    margin-right: 2em;
}
.places_img{
    margin-right: 5em;
    flex: 50%;
    
}
.places_name{
    font-size: 300%;
}
.places_info_container ul {
    font-size: 200%;
    list-style: none;
    padding: 0;
    width: 100%;
}

